:root { --nm-radius: 18px; }

.wp-block-button__link { border-radius: 14px; }

a { text-underline-offset: 0.18em; }

header {
  position: fixed;
  top: 0;
  z-index: 5;
  background-color: var(--wp--preset--color--creme);
  width: 100%;
  height: fit-content; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  a {
    text-decoration: none;
  }
  .wp-block-group.is-style-nm-brand {
    gap: unset !important;

    .wp-block-group:last-child p {
      font-weight: 900;
      mark:last-child {
        font-size: 25px;
      }
    }
  }
}

footer {
  margin-block-start: unset !important;
  .wp-block-cover {
    min-height: fit-content;
    .wp-block-cover__inner-container > .wp-block-group {
      min-width: 100%;
      .wp-block-columns .wp-block-column:not(:last-child) {
        border-right: 1px solid rgba(255, 251, 242, .25);
      }
      .wp-block-columns .wp-block-column:first-child p:first-child {
        font-weight: 900;
        mark:last-child {
          font-size: 25px;
        }
      }
    }
  }
}

:where(.wp-site-blocks) > :last-child {
  margin-block-start: 0 !important;
}

/* =========================
   NEG’ MAWON — Block Styles
   ========================= */

/* COVER — Hero musée */
.wp-block-cover.is-style-nm-hero-musee {
  border: 1px solid rgba(35, 31, 32, 0.12);
  overflow: hidden;
  min-height: fit-content;

  .wp-block-group:first-child:before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100px;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 251, 242, 0) 0%, rgba(255, 251, 242, 0.51) 50%, rgba(255, 251, 242, 1) 100%);
    left: -100px;
  }
}

.wp-block-cover__inner-container {
  width: 100%;
  height: 100%;
}

.wp-block-cover.is-style-nm-hero-musee > .wp-block-cover__inner-container.has-global-padding {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

/* COVER — Bannière musée */
.wp-block-cover.is-style-nm-banner-musee {
  overflow: hidden;

  .wp-block-group {
    .wp-block-group:first-child {
      min-width: 100%;
    }
    .wp-block-columns {
      min-width: 100%;
      .wp-block-group.is-style-nm-event .wp-block-columns {
        gap:unset !important;        
      }
    }
    .wp-block-group.is-style-nm-event {
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }
  }

  .wp-block-column.is-style-nm-event-date {
    flex-basis: 20%;
    p {
      position: relative;
      top: -20px;
    }
    mark:first-child {
      font-size: 55px;
    }

    mark:last-child {
      margin-left: 0.5rem;
    }
  }

  .wp-block-column.is-style-nm-event-body {
    flex-basis: 80%;
    .wp-block-group p {
      margin-block-start: unset !important;

    }
  }
}

/* GROUP — Section */
.wp-block-group.is-style-nm-section {
  padding-top: 64px;
  padding-bottom: 64px;
}

/* GROUP — Section crème */
.wp-block-group.is-style-nm-section-creme {
  padding-top: 64px;
  padding-bottom: 64px;
  background: var(--wp--preset--color--creme);
}

/* GROUP — Carte */
.wp-block-group.is-style-nm-card {
  border: 1px solid rgba(35, 31, 32, 0.12);
  background: var(--wp--preset--color--blanc);
  border-radius: 18px;
  padding: 24px;
}

/* GROUP — Ruban */
.wp-block-group.is-style-nm-ruban {
  margin-block-end: -4rem;
  margin-top: 4rem;
  padding: 14px 18px;
  border-top: 1px solid rgba(35,31,32,.18);
  background: rgba(255,251,242,.65);      /* léger voile crème */
  backdrop-filter: blur(2px);
}

/* GROUP - A la une */
.wp-block-group.is-style-nm-a-la-une {
  overflow: hidden;
    .wp-block-columns {
      min-width: 100%;
      .wp-block-column > .wp-block-group {
        padding-left: var(--wp--style--root--padding-left);  
        
      &:before {
        content: "";
        position: absolute;
        inset: 0;
        left: 100%;
        width: 100px;
        height: 100%;
        background: linear-gradient(270deg, rgba(255, 251, 242, 0) 0%, rgba(255, 251, 242, 0.51) 50%, rgba(255, 251, 242, 1) 100%);
      }
    }
  }
}

/* BUTTON — contour */
.wp-block-button.is-style-nm-btn-outline .wp-block-button__link {
  background: transparent;
  color: var(--wp--preset--color--charbon);
  border: 1px solid rgba(35, 31, 32, 0.22);
  border-radius: 10px;
}

/* IMAGE — arrondie */
.wp-block-image.is-style-nm-image-rounded img {
  border-radius: 18px;
}

/* QUERY — grille*/
.wp-block-query.is-style-nm-grid .wp-block-post-template {
  gap: 22px;
}
